h1 {
	font-size:2em; 
	font-weight:bold; 
	margin:0 0 20px 0;
	font-family: sans-serif;
	color: #696969;
}

.group text {
 font-size: 9px;
 font-family: sans-serif;
}

#province_filter li {
	display:inline-block; margin:0 20px 0 0;}
}

.filter {
	color:#778899; 
	font-size: 2em; 
}
.selected {
	color:#708090;
	font-weight:bold; 
}